In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame({"a":[1,2,3],"b":[7,9,9]})
df

   a  b
0  1  7
1  2  9
2  3  9

In [13]:
df

   a  b
0  1  7
1  2  9
2  3  9

In [14]:
d = {7:'a',9:'d'}
df.b.map(d)

0    a
1    d
2    d
Name: b, dtype: object

In [15]:
df.b.map??

In [16]:
a = pd.Series([7,8,20,28,29,50,57,60,80])
a

0     7
1     8
2    20
3    28
4    29
5    50
6    57
7    60
8    80
dtype: int64

In [21]:
pd.cut(a, [1,10,20,30,50,100]).value_counts()

(50, 100]    3
(20, 30]     2
(1, 10]      2
(30, 50]     1
(10, 20]     1
dtype: int64

In [28]:
pd.qcut(a,[0,0.25,.5,.75,1], ['a','b','c','d']).value_counts()

a    3
d    2
c    2
b    2
dtype: int64

In [25]:
pd.qcut??